//__________________Colors__________________//
$cl-background : #f7f7f8;
$cl-white : #ffffff;
<<<<<<< HEAD
$cl-light-blue : #ffffff;
=======
$cl-light-blue : #45adff;
>>>>>>> 36bd43ed2815faa361dc8048c5980328ddbe8a0f
