@import "compass/reset";
@import 'compass';
@import "colors";

body {
  background-color: $cl-background;
  nav {
    background-color: $cl-white;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 100%;
    color: #f7f7f8;
    span{
      position: absolute;
      top: 0px;
      right: 0px;
      width: 100%;
      i{
        position: relative;
        margin: 0px auto;
        color: $cl-light-blue;
        &:hover{
          color: $cl-light-blue;
        }
      }
    }
  }
}